[metadata]
name = wfpc2tools

# version is the *next* version to be release, with .dev at the end if it is not final
version = 1.0.1.dev

author = Warren Hack, Nadezhda Dencheva, David Grumm
author-email = help@stsci.edu
home-page = http://www.stsci.edu/resources/software_hardware/stsci_python
classifier =
    Intended Audience :: Science/Research
    License :: OSI Approved :: BSD License
    Operating System :: OS Independent
    Programming Language :: Python
    Topic :: Scientific/Engineering :: Astronomy
    Topic :: Software Development :: Libraries :: Python Modules
requires-python = >=2.5
requires-dist =
    stsci.tools (==3.0)
    stsci.convolve (==2.0)
    stsci.imagestats (==1.1)
    stsci.ndimage (==0.9.0)
    pyfits (>=2.4.0)
    numpy (>=1.5.1)

[files]
packages_root = lib
packages = wfpc2tools

[global]
commands = stsci.distutils.command.easier_install.easier_install

